
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
main{
    flex-grow: 1;
}

.letra{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tamaño{
    font-weight: 900;
}

.alinear{
    align-items: end;
}

.ancho{
    max-width: 150px;
}

.carrousel-text {
    position: absolute;
    right: 5%;
    top: 30%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: start;
}

.carrousel-text2 {
    position: absolute;
    left: 10%;
    top: 30%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: start;
}

.btn-red {
    background-color: #b9090b;
    width: 10em;
}

.btn-red:hover{
    color: aliceblue;
    background-color: #6C0607;
    filter: blur(90%);
}

a{
    text-decoration: none;
}

.links-color{
    color: #b9090b;
}

.links-color:hover{
    color: #6C0607;
}

.seccion {
    height: 700px;
    background-attachment: fixed;
  }
  
  .seccion:nth-child(2) {
    background-image: url(../img/409879-liquid-4K-abstract.jpg);
  }
  
  .seccion1 {
    height: 700px;
    background-attachment: fixed;
  }
  
  .seccion1:nth-child(3) {
    background-image: url(../img/recorte.png);
  }
  
  .seccion2 {
      height: 700px;
      background-attachment: fixed;
    }
    
    .seccion2:nth-child(1) {
      background-image: url(../img/recorte.png);
    }
  
  .text3d{
    text-shadow: 3px 1px 3px #000000;
  }
  
  .text-neon{
    text-shadow: red -3px 0, cyan 3px 0;
    filter: blur(.9px);
  }

  .cards-disenio{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
   border: none;
}

.cards-disenio:hover{

   box-shadow:       
   inset 0 -3em 3em rgba(0,0,0,0.1),
   0.3em 0.3em 1em rgba(0,0,0,0.3);;
}

.card-login{

  box-shadow:       
  inset 0 -3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);;
 }


.colorNav{
  background-color: #b9090b;
}

.fondo-imagen {
  background-image: url(../img/img_background_error404.dff07b56.jpg);
  background-size: cover;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

}

.texto-centrado{
  position: absolute;
  top: 40%;
  left: 15%;
  right: 15%;
}
